/* necessary comment */
:root {
  /* default theme */
  --background: rgb(231, 235, 240);
  ;
  --background-page: white;
  --foreground: #363636;
}

[data-theme='dark'] {
  --background: rgb(35, 38, 39);
  --background-page: black;
  --foreground: white;
}

#__next {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  background-color: var(--background-page);
  color: var(--foreground);
  font-family: 'Lato', sans-serif;
  font-size: 19px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

div {
  line-height: 28.5px;

}

ul {
  padding-bottom: 10px;
  padding-left: 20px;
  list-style-type: disc;
}

ol {
  padding-bottom: 10px;
  padding-left: 20px;
  list-style-type: decimal;
}

a {
  text-decoration: none;
  color: #45b1c1;
}

em {
  font-style: italic;
}

/* scrollbar  */

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

blockquote {
  background: var(--background);
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: var(--foreground)
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.content pre {
  padding: 0 !important;
  margin-bottom: 1em;
}

pre,
code {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width: 100%;
  overflow-x: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* code {
  background-color: #f5f5f5;
  color: #da1039;
  font-size: .875em;
  font-weight: 400;
  padding: 0.25em 0.5em 0.25em;
} */

.hljs {
  padding: 0;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

strong {
  color: var(--foreground);
}

.slides strong {
  color: white;
}

.masonry {
  height: 100vh;
}

main.container>div {
  margin-bottom: 30px;
}

.workshopBackground {
  cursor: pointer;
  width: 100%;
}

img {
  width: 100%;
  /* border-radius: 10px; */
}

.line {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  padding: 1;
  margin-bottom: 16px;
}

.lineUp {
  animation: 2s anim-lineUp ease-out;
  color: var(--foreground);
  text-align: center;
  font-size: 28px;
  text-indent: 40px;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.subtitle {
  color: var(--foreground);
  font-style: italic;
}

.secondHeader {
  background-color: var(--background-page);
  margin-bottom: 20px;
}

.frontpage-top {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.frontpage-logo {
  flex-basis: 300px;
}

.title {
  color: var(--foreground);
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1px;
}

.intro-text {
  color: var(--foreground);
  font-size: 22px;
  text-align: justify;
  border: #e74c3c 3px solid;
  box-shadow: #e74c3c 8px 8px 0px;
  padding: 20px;
}

.sectionTitle {
  color: var(--foreground);
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.rectangle {
  width: 50%;
  height: 5px;
  background: darkgray;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.workshopContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  background-color: white !important;
}

.topBar-container {
  background-color: var(--background-page);
  border: #5d55a5 3px solid;
  margin: 10px; 
  z-index: 1000;
  width: 98%;
  height: 50px;
  box-shadow: #5d55a5 8px 8px 0px;
}

.topBar {
  position: static;
  margin: 0;
  z-index: 2;
  box-shadow: none;
  height: 10px;
  /* padding-top: 10px; */
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

#nav-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  color: var(--foreground);
}

.headerLink {
  width: fit-content;
  cursor: pointer;
  margin-left: 20px;
  flex-shrink: 1;
  padding-right: 20px;
  font-weight: bold;
}

@media(min-width: 899px) {
  .buttonCollapse {
    display: none;
  }
}

header a{
  color: var(--foreground);
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  text-decoration: underline;
  color: #23d5ab
}

.logo {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50;
}

@media(max-width: 1200px) {
  #logo-container,
  .logo {
    display: none !important;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-shrink: 1;
  float: right;
  /* background-color: #1976d2; */
  padding: 0;
}

.links>li {
  /* padding-bottom: 15px; */
  /* padding-top: 20px;
  padding-left: 20px; */
  list-style: none;
  min-width: 150px;
  text-align: center;
}

.drawer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1976d2;
}

.drawer-item {
  width: 500px;
  margin: 15px;
}

.drawer-click {
  cursor: pointer;
}

.pagination > .MuiButtonBase-root, .brutalist-button{
  background-color: var(--background-page) !important;
  border: 2px solid #ef3b3a !important;
  padding:10px 40px !important;
  font-weight: bold;
  /* font-size: 20px; */
}

.pagination > .MuiButtonBase-root:after, .brutalist-button:after{
  content:'';
  position:absolute;
  background-color:#ef3b3a;
  top:8px;
  left:8px;
  right:-8px;
  bottom:-8px;
  z-index:-1;
}

.pagination > .MuiButtonBase-root:hover,.pagination > .MuiButtonBase-root:active, .brutalist-button:hover, .brutalist-button:active{
  color: var(--background-page);
  background-color:#ef3b3a !important;
  transition: all 0.3s ease;
}
.pagination > .MuiButtonBase-root:hover:after,.pagination > .MuiButtonBase-root:hover:active, .brutalist-button:hover:after, .brutalist-button:hover:active{
  background-color: var(--background-page);
  border:2px solid #ef3b3a !important;
  transition: all 0.3s ease;
}

.paperWorkshops {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #29343f;
}

.paperGrid {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: space-around;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
}

.workshops {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.overlay {
  position: absolute;
  top: 50px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  /* Black see-through */
  width: 100%;
  color: white;
  transition: .5s ease;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

.drawer-over {
  position: relative;
}

.drawer-over:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  transition: .5s ease;
}

.drawer-overlay {
  top: -114px;
  font-size: 30px;
}

.terminal {
  --size: 1.5;
  --color: rgba(0, 128, 0, 0.99);
  --background: white;
  --animation: terminal-bar;
  min-height: 200px;
  max-height: 200px;
}

.visually-hidden {
  display: none;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  background-color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.JS-console {
  overflow-y: scroll;
}

.JS-console div {
  background-color: rgba(0, 0, 0, 0.87);
}

.PythonREPL {
  border: #29343f 1px solid;
  margin-bottom: 20px;
}

/* frontpage cards */
.frontpage-card {
  min-height: 600px;
  flex-basis: 500px;
  margin-bottom: 40px;
  background-color: var(--background-page) !important;
  color: var(--foreground) !important;
}

.card-media {
  cursor: pointer;
}

.card-media div {
  width: 100%;
  height: 150px;
}

.card-media img {
  object-fit: cover;
}

.frontpage-image-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.frontpage-image-container>span {
  position: unset !important;
  height: 50px;
}


.card-content {
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 150px;
}

.card-content>h2 {
  font-size: 2rem;
}

.card-content>p {
  margin: 10px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: var(--foreground);
}

.workshop-info {
  padding: 10px;
}

.workshop-info-other {
  padding: 10px;
  padding-top: 30px;
}

.workshop-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-page {
  width: 100%;
  background-color: var(--background-page);
  display: block;
  padding: 15px 30px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
}

.hero {
  width: 50%;
  justify-self: center;
  align-self: center;
  margin: 10px;
}

.workshop-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.content h1,
.content h2 {
  color: var(--foreground);
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content blockquote {
  background-color: var(--background) !important;
}

.page-content {
  margin-bottom: 30px;
  margin-top: 30px;
}

.page-content h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  padding: 10px !important;
  border: #5d55a5;
  border: 2px solid #5d55a5 !important;
  background: var(--background-page) !important;
  box-shadow: #5d55a5 8px 8px 0px; 
}

.page-content h2 {
  font-size: 1.6rem;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px !important;
  border: #5d55a5;
  border: 2px solid #5d55a5 !important;
  background: var(--background-page) !important;
  box-shadow: #5d55a5 8px 8px 0px;
}

.page-content h3 {
  font-size: 1.4rem;
  margin-top: 30px;
  padding: 5px !important;
  margin-bottom: 10px;
}

.page-content p {
  margin-bottom: 10px;
}

.image-container {
  text-align: center;
}

.markdown-image-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.markdown-image-container>div {
  position: unset !important;
  min-width: 50%;
  max-width: 80%;
}

.markdown-image-container span {
  position: relative !important;
  max-width: 80%;
}

.markdown-image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* workshop frontpage  */
.frontpage>h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.excerpt {
  margin-bottom: 20px;
}

.dependency li.required {
  border-left: 0.5rem solid #e74c3c50;
  position: relative;
  border-radius: 5px;
  padding-left: 10px;
}

.dependency li.required:hover {
  border-left: 0.5rem solid #e74c3c;
}

.dependency li.recommended {
  border-left: 0.5rem solid #f39c1250;
  position: relative;
  border-radius: 5px;
  padding-left: 10px;
}

.dependency li.recommended:hover {
  border-left: 0.5rem solid #f39c12
}

.frontpage-item {
  /* border: 1px lightgrey solid; */
  padding: 10px;
  /* border: 3px solid #ff9933;
  box-shadow: #ff9933 8px 8px 0px; */
}

.dependency{
  /* border: 3px solid #d5222c;
  box-shadow: #d5222c 8px 8px 0px; */
}

.frontpage-item h2 {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.frontpage-item p {
  margin: 0 0 20px;
}

.frontpage-list {
  list-style-type: disc;
  margin-left: 20px;
}

.authors-list {
  float: left;
  width: 50%
}

.workshop-content {
  max-width: 100%;
}

.workshop-container table {
  table-layout: fixed;
}

.WorkshopPage-nav-right {
  margin-left: 10px;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

/* Quizzes */
.quiz {
  background-color: var(--background);
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.quiz label {
  padding: 10px;
}

.quizButton {
  margin-top: 20px !important;
  padding: 5px !important;
  border: 2px solid #d5222c !important;
  border-radius: 0% !important;
  background: var(--background-page) !important;
  box-shadow: #d5222c 8px 8px 0px !important;
  color: #000000 !important;
}

.quizButton:hover {
  box-shadow: none !important;
}

/* Boxes */
.boxed h2{
  margin-top: 0;
}

/* sidebar  */
@media(max-width: 2100px) {
  .drawer-left.permanent {
    display: none !important;
  }
}

@media(min-width: 2100px) {
  .sidebar-button {
    display: none !important;
  }
  .drawer-left.permanent {
    position: absolute !important;
  }
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  z-index: 1;
}

.drawer-left> .MuiPaper-root {
  z-index: 1;
  background-color: #5d55a5;
}

nav.sidenav {
  max-width: 325px;
  min-width: 300px;
  align-self: flex-start;
  position: sticky;
  /* top: 96px; */
  max-height: calc(100 vh - 144px);
  overflow: auto;
  padding: 16px;
  z-index: 1;
}

nav.sidenav>ul>li {
  list-style: none;
  font-size: 25px;
  border-bottom: #000000 solid 1px;
}

nav.sidenav>ul>li>a:hover {
  cursor: pointer;
}

nav.sidenav > ul > li > div > span{
  font-size: 1.3rem;
}

footer {
  background-color: #f7f7f8;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

.funderImages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.funderImages>div>a>img {
  max-height: 100px;
  max-width: 200px;
  margin-top: 20px;
}

.funding-text {
  color: #333
}

/* Glossary */

/* hide .definition first h1  */
.definition h1:first-child {
  display: none;
}