// import fonts
// import Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo:wght@400;500;600;700&display=swap');

// primary colors (still need primary colors for dark mode)
$primary-color-bark: #614F42;
$primary-color-brown: #3C342F;
$primary-color-sun: #F9976A;
$primary-color-cream: #FFF9F4;
$primary-color-white: #FFFFFF;
$primary-color-black: #1B1621;
$primary-color-sky: #8dd0cd;


// typography
$headers-font: 'Poppins', sans-serif;
$body-font: 'Poppins', sans-serif;

// defaults
$background: $primary-color-white;
$background-page: $primary-color-cream;
$foreground: $primary-color-black;

// dark theme
/*
[data-theme='dark'] {
    $background: !
  }
*/

// MIXINS

// mixins for centering elements
@mixin absolute-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-center {
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

// Mixin for responsive breakpoints
$breakpoints: (
  "xs": 25em,
  // 400px
  "sm": 34em,
  // 544px
  "md": 48em,
  // 768px
  "lg": 60em,
  // 960px
  "xl": 80em,
  // 1280px
  "xxl": 90em // 1440px
);

@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  }

  @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// Example of usage
// h1 {
//   font-size: 14px;
//   line-height: 22px;
//   @include respond-above(md) {
//     font-size: 18px;
//     line-height: 26px;
//     font-weight: 600;
//   }
// }


// global styles
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100%;
}

#__next {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: $background-page;
  color: $foreground;
  font-family: $body-font, sans-serif;
  font-size: 20px;
  // overflow: hidden;
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headers-font, sans-serif;
  font-weight: 500;
}

// button styles
.button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: none;

  &-white {
    background-color: $primary-color-white;
    color: $primary-color-brown;

    &:hover {
      background-color: $primary-color-sky;
      color: $primary-color-brown;
    }
  }

  &-bark {
    background-color: $primary-color-bark;
    color: $primary-color-white;

    &:hover {
      background-color: $primary-color-sky;
      color: $primary-color-brown;
    }

    >a {
      color: $primary-color-white;
      text-decoration: none;

      &:hover {
        color: $primary-color-brown;
      }
    }

  }

  &-download {
    >span {
      margin-left: 10px;
    }
  }
}

// stylized images 
.stylized-image-container {
  transition: background-color .2s;
  background-color: $primary-color-sky !important;
  position: relative;
  text-align: center;
  color: white;

  img {
    display: block;
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

.centered {
  z-index: 20;
  font-family: 'Baloo', sans-serif;
  color: white;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}


// Headers
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  position: relative;
  z-index: 20;

}

.topBar {
  position: static;
  margin: 0;
  height: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;

  &-container {
    box-shadow: none;
    background-color: $primary-color-cream;
    z-index: header;
    height: 100px;
    margin-bottom: 0%;
  }

  .logo {
    padding-left: 30px;
    position: relative;
    z-index: 20;
  }

}

#nav-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: $primary-color-cream;

  .links {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    background-color: $primary-color-cream;
    padding-top: 20px;

    li {
      list-style: none;
      padding: 10px;
      font-size: 1.3rem;
      font-weight: 400;

      a {
        text-decoration: none;
        color: $primary-color-brown;
      }

    }
  }
}

.workshop-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $primary-color-brown;
  z-index: 21;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;

  a {
    color: $primary-color-white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    color: $primary-color-white;
    font-family: 'Baloo', sans-serif;
    font-size: 2.1rem;
    letter-spacing: 6px;
  }

  div {
    color: $primary-color-white;
  }

  &-left {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
  }

  &-right {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: right;
    align-items: flex-end;
    margin-left: 20px;
    margin-right: 20px;

    &.drawer-open {
      background-color: $primary-color-bark;
      padding-bottom: 30px;
      padding-left: 10px;
    }
  }

  &-breadcrumbs {
    margin-top: 35px;
    margin-left: 35px;

    li {
      color: $primary-color-white;
      font-family: poppins;
      font-size: 1.2rem;
    }

    p {
      padding-left: 5px;
      color: $primary-color-white;
    }

    a {
      color: $primary-color-white;
      text-decoration: none;
    }
  }

}

// institute styles
.schedule {
  position: relative;
  // padding-top: 40px;
  margin-bottom: 40px;
  width: 100vw;
  background-color: rgb(239 231 225);

  h1,
  h2,
  p {
    position: relative;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .time {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &-item {
    background-color: $primary-color-white;
    box-shadow: none;
  }

  .accordion {
    margin-bottom: 20px;
  }

  .accordion>div {
    padding-left: 60px;
  }

  .accordion-summary {
    margin-bottom: 20px;
  }

  .accordion-details div {
    margin-bottom: 80px;
  }

  &:before {
    content: '';
    background-color: rgb(239 231 225);
    position: absolute;
    height: 100%;
    // width entire screen 
    width: 130vw;
    left: -150px;
  }
}

.inst {
  display: flex;
  flex-direction: column;
  justify-content: center;

  >div {
    padding-left: 100px;
    padding-right: 100px;

  }

  &-hero {
    // inst page hero block
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: flex-start;
    max-height: 500px;

    &-overlay {
      @include respond-above(md) {
        padding-left: 100px;
        padding-right: 100px;
      }
      // padding: 0px 20px 0px 20px;
      position: absolute;
      height: 500px;
      width: 100%;
      left: 0px;
      top: 0px;
      background: linear-gradient(to right, $primary-color-brown, rgba(0, 0, 0, 0.6));
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-text {
      width: 100%;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }


    &-description {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 40px;
      margin-bottom: 40px;
      position: relative;
      max-width: 40vw;
      align-self: center;
      font-weight: 500;
      // background: $primary-color-bark;
    }

    h1 {
      // front page title
      font-family: $headers-font, sans-serif;
      font-size: 3rem;
      margin-bottom: 20px;
      margin-top: 0px;
      padding-bottom: 30px;
      color: $primary-color-white;
      position: relative;
    }

    h2,
    p {
      position: relative;
      color: $primary-color-white;
    }

  }

  &-description {
    padding-top: 0px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    p {
      padding-right: 8cap;
      max-width: 100%;
    }
  }


  &-workshops {
    padding-top: 20px;
    width: 100vw;
    background-color: $primary-color-cream;
    z-index: 100;
  }

  .button {
    margin-top: -10px;
  }

}


// workshop cards
.workshop {
  &-grid {
    display: grid;
    // 3 columns
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    // bit of space 
    grid-gap: 30px;
    margin-bottom: 30px;
  }

  &-card {
    background-color: $primary-color-cream;
    width: 400px;
    border-radius: 0px;
    box-shadow: none;

    h3 {
      font-weight: 900;
      font-size: 1.5rem;
      margin-top: -5px;
    }

    .description {
      font-size: 1rem;
      margin-top: -5px;
    }

    &:hover {
      transform: translatey(-10px);
      overflow: visible;
      z-index: 0;
      box-shadow: $primary-color-sky 16px 16px 0px;
      transition: all 0.5s ease;
    }

  }
}


//frontmatter styles
.frontmatter {
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;

  @include respond-above(xl) {
    display: grid;
    grid-template-columns: 45vw 1fr;
  }

  &-hero {
    // workshop page hero block
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $primary-color-bark;
    margin-bottom: 20px;
    grid-column: 1;

    h1 {
      // front page title
      font-family: $headers-font, sans-serif;
      font-size: 3rem;
      margin-bottom: 20px;
      margin-top: 0px;
      color: $primary-color-white;
      position: relative;
      padding-top: 20px;
    }

    &:before {
      content: '';
      background-color: $primary-color-brown;
      position: absolute;
      height: 100%;
      // width entire screen 
      width: 130vw;
      left: -150px;
    }

    &-breadcrumbs {

      li {
        color: $primary-color-white;
        font-family: poppins;
        font-size: 1.2rem;
      }

      p {
        padding-left: 5px;
        color: $primary-color-white;
      }

      a {
        color: $primary-color-white;
        text-decoration: none;
      }
    }

    h2,
    p,
    li {
      color: $primary-color-white;
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
    }

    .description {
      color: $primary-color-white;
      margin-top: 20px;
      margin-bottom: 0px;
      position: relative;
      grid-column: 1;
    }

    .button {
      margin-bottom: 50px;
      position: relative;
      grid-column: 1;
    }

  }

  &-item {
    grid-column: 1;

    h2,
    h3 {
      font-weight: 900;
    }

    ul {
      padding: 0px;
    }

    li {
      margin-bottom: 10px;
    }
  }

  .button {
    grid-column: 1;
    margin-bottom: 50px;
    width: 250px;
  }

  &-feature {
    grid-column: 2;
    z-index: 10;
    max-width: 500px;
    display: none;

    @include respond-above(xl) {
      margin-top: 80px;
      grid-row-start: 1;
      justify-self: right;
      position: absolute;
      display: block;
    }

    &-authors {
      margin-top: 20px;
    }

    >div {
      background-color: $primary-color-white;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    div {
      background-color: $primary-color-white;

      h1,
      h2,
      ul {
        margin: 0px;
        padding-bottom: 20px;
        padding-left: 30px;
        list-style: none;
      }
    }
  }

}

// page content styles
.page-content {

  margin-top: 150px;
  margin-bottom: 100px;

  h1 {
    font-size: 2rem;
    font-family: $headers-font, sans-serif;
    margin-bottom: 30px;
  }

}

.pagination {
  background-color: $primary-color-brown;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  z-index: 9;
  position: sticky;
  bottom: 0px;

  p {
    font-weight: 700;
    font-size: 1rem;
    padding-left: 5px;
  }

  &-button {
    color: $primary-color-white;
    text-transform: none;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}

// table of contents sidebar
.drawer-left {
  z-index: 10;
}

.drawer-left>.MuiPaper-root {
  z-index: 1;
  background-color: $primary-color-bark;
}

nav.sidenav {
  width: 50%;
  align-self: center;
  z-index: 12;
  position: relative;
  top: 100px;

  ul {
    li {
      list-style: none;
      font-size: 25px;
      border-bottom: white solid 1px;
    }

    a:hover {
      cursor: pointer;
    }

    div {
      span {
        font-size: 1.8rem;
        font-weight: 700;
      }

      .sidebar-subitem {
        span {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}

.sidebar {
  &-button {
    color: $primary-color-white;
    text-transform: none;
    margin-top: 30px;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-family: $headers-font, sans-serif;
    cursor: pointer;
  }

  &-item {
    cursor: pointer;

    span {
      font-size: 1.5rem;
    }
  }

  &-subitem {
    margin-left: 40px;

    span {
      font-size: 1rem;
    }
  }
}

// editor drawer 
.drawer {
  background-color: #a3a9af;
}

.drawer-right>div {
  background-color: rgb(39, 40, 34);
}

.drawer-editor {
  height: 100vh;
  overflow: hidden;
}

.drawer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  height: 50vh;
  margin: auto;
  padding: 30px;
}

.drawer-click {
  cursor: pointer;
}

.drawer-over {
  position: relative;
}

.drawer-over:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  transition: .5s ease;
}

.drawer-overlay {
  position: absolute;
  top: -114px;
  font-size: 30px;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  height: 64vh;
  background-color: black;
  /* margin-top: 30px; */
}

.webvm {
  height: 99vh;
  background-color: #000;
}

.editor-button-container {
  /* on the far right  */
  position: fixed;
  right: 0px;
  top: 100px;
  z-index: 100;
  background-color: #24272E;
  color: white;
}

.editorTopBarButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  height: 30px;
  z-index: 100;
  background-color: #000;
}

.shellContainer {
  height: auto;
  background-color: rgb(39, 40, 34);

  .terminal::-webkit-scrollbar {
    width: 20px;
  }
}

.editor-button {
  color: white;
}

.data-button {
  position: fixed;
  right: 0px;
}

.JS-console {
  overflow-y: scroll;
}

.JS-console div {
  background-color: rgba(0, 0, 0, 0.87);
}

.PythonREPL {
  border: #29343f 1px solid;
  margin-bottom: 20px;
}

.terminal-container {
  justify-content: flex-start !important;
}

.terminal {
  --size: 1.5;
  --color: rgba(0, 128, 0, 0.99);
  --background: white;
  --animation: terminal-bar;
  min-height: 200px;
  max-height: 200px;
}

.side-terminal {
  --size: 1.5;
  --color: white;
  --background: rgb(39, 40, 34);
  --animation: terminal-bar;
}

.console {
  size: 1.5;
  color: white;
  background: rgb(39, 40, 34);
  animation: terminal-bar;
  padding-left: 10px;
}

.console-error {
  color: red;
}

.PythonSideREPL {
  height: 100% !important;
  overflow-y: auto;
  background: rgb(39, 40, 34);
}

.repl-header {
  background-color: #29343f;
  color: white;
  padding-left: 10px;
  // font-size: 20px;
  font-weight: bold;
}

@media(max-width: 2100px) {
  .drawer-left.permanent {
    display: none !important;
  }
}

@media(min-width: 2100px) {
  // .sidebar-button {
  //   display: none !important;
  // }

  .drawer-left.permanent {
    position: absolute !important;
  }
}

// Glossary
.glossary {
  flex-grow: 1;
}

// Forms 
.form {

  button {
    background-color: $primary-color-bark;
    color: $primary-color-white;
    margin: 10px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: $primary-color-sky;
    }
  }

}



// code block styles
pre {
  background-color: $primary-color-cream;
  color: $primary-color-black;
  // padding: 20px;
  // margin: 20px;
  border-radius: 5px;
  // overflow-x: scroll;
  white-space: pre-wrap;

  code {
    background-color: $primary-color-cream;
    color: $primary-color-black;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    // overflow-x: scroll;
    white-space: pre-wrap;
  }
}

// footer styles and imgs

// container for footer and pagination in workshops
.workshop-footer {
  z-index: 10;
  // width: 100%;
  bottom: 0px;
}

footer {
  background-color: $primary-color-bark;
  color: $primary-color-white;
  z-index: 10;

  &.footer {
    width: 100%;
  }

  .footer-logo {
    margin-left: 55px;
  }

  .footer-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 100px;
    margin-top: -30px;

    .funding-text {
      width: 50%;
    }

    .funderImages {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin: auto;

      .img-fluid {
        margin: 20px;
        filter: brightness(0) invert(1);
      }
    }
  }
}

// loader
.loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primary-color-bark;
  display: flex;
  justify-content: center;
  align-items: center;
}